{% extends 'base_employers.html' %}
{% load static thumbnail blog-tags i18n%}
{% block title %}Сотрудники{% endblock %}
{% block content %}
    <section class="crumbs">
        <div class="container">
            <div class="crumbs__wrapper">
                <svg>
                    <use xlink:href="{% static 'images/sprites.svg' %}#home"></use>
                </svg>
                <ol>
                    <li><a href="{% url 'blog:home' %}">Главная </a></li>
                    <li>Сотрудники</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="emplyees page">
        <div class="container">
            <div class="page__container">
                <main class="page__main">
                    <h1 class="title-h1">
                        Лаборатории</h1>
                    <div class="employees__list">
                        {% for employer in laboratory %}
                            <div class="employees-item">
                                <div class="employees-item__image"><a href="{{ employer.get_absolute_url }}">

                                    {% thumbnail employer.photo "74x83" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                             class="img-fluid">
                                        {% empty %}
                                        <img src="{% static 'images/no-user.jpg' %}" width="62" height="83" >
                                    {% endthumbnail %}
                                    <img src="{{ employer.photo }}" alt=""></a></div>
                                <div class="employees-item__wrapper">
                                    <div class="employees-item__title"><a
                                            href="{{ employer.get_absolute_url }}">{{ employer.name }}</a></div>
                                    <div class="employees-item__subtitle">
                                        {{ employer.regali }} </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="pagination">
                        <div class="pagination__left">
                            <input class="pagination__input" type="text" value="1">
                            <div class="pagination__from">
                                из 34301
                            </div>
                            <div class="pagination__btns">
                                <button class="pagination__btn pagination__btn--prev">
                                    <svg>
                                        <use xlink:href="{% static 'images/sprites.svg' %}#left"></use>
                                    </svg>
                                </button>
                                <button class="pagination__btn pagination__btn--next">
                                    <svg>
                                        <use xlink:href="{% static 'images/sprites.svg' %}#right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="pagination__right">
                            <div>
                                Посмотреть по:
                            </div>
                            <select class="pagination__select" name="">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <div>
                                записей
                            </div>
                        </div>
                    </div>
                </main>
                <aside class="page__aside">
                    <h2 class="title-h2">
                        <svg>
                            <use xlink:href="{% static 'images/sprites.svg' %}#calendar"></use>
                        </svg>
                        Ближайшие события
                    </h2>
                    {% event_show count=2 as events %}
                    {% for event in events%}
                    <div class="event event--employees">
                        <div class="event__image">


                            <a href="{{ event.get_absolute_url }}">
                                {% thumbnail event.image "x124" as im %}
                                        <a href="{{ im.url }}"> <img src="{{ im.url }}" alt=""></a>
                                    {% endthumbnail %}                                                     </a>
                        </div>
                        <div class="event__wrap">
                            <div class="event__date date-pub">
                                {{ event.event_published_date|date:"d M Y"}}
                            </div>
                            <div class="event__title"><a href="{{ event.get_absolute_url }}">
                                {{ event.title}}</a></div>
                            <div class="event__intro">
                                {{ event.text|safe|truncatechars_html:150 }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </aside>
            </div>
        </div>
    </section>
{% endblock %}