{% extends 'base_employers.html' %}
{% load static thumbnail blog-tags i18n%}
{% block title %}{% endblock %}
{% block content %}
    			<section class="crumbs">
			<div class="container">
				<div class="crumbs__wrapper">
					<svg>
						<use xlink:href="{% static 'images/sprites.svg' %}#home"></use>
					</svg>
					<ol>
						<li><a href="{% url 'blog:home' %}">Главная  </a></li>
						<li><a href="{% url 'employees:employer-list' %}">Сотрудники</a></li>
						<li>
                            {{ employer.name}}</li>
					</ol>
				</div>
			</div>
		</section>
		<section class="employee page">
			<div class="container">
				<div class="page__container">
					<main class="page__main">
						<div class="employee__header">
							<div class="employee__avatar">

                                            {% thumbnail employer.photo "x200"  as im %}
                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid">
                                                {% empty %}
                                                <img src="{% static 'images/no-user.jpg' %}" width="74" height="83" class="img-fluid">
                                            {% endthumbnail %}

{#                                    {% thumbnail <img src="{% static 'images/no-image.png' %}"> "74x83"  as im %}#}
{#                                            <img src="{% static 'images/no-image.png' %}" width="{{ im.width }}" height="{{ im.height }}"class="img-fluid">#}
{#                                     {% endthumbnail %}#}

                            </div>
							<div class="employee__description">
								<h1 class="employee__title">
									 {{ employer.name}}</h1>
								<div class="employee__position">
									  {{ employer.regali }}</div>
								<div class="employee__email">
									 E-mail: <a href="mailto:{{ employer.email}}">{{ employer.email}}</a></div>
							</div>
						</div>
						<div class="tab-wrapper tab-wrapper-1">
							<div class="tabs">
								<div class="tab">
									 Профиль</div>
								<div class="tab">
									 Список основных публикаций</div>
								<div class="tab">
									 Проекты</div>
							</div>
							<div class="tab_content">
								<div class="tab_item typography">
									{{ employer.profile|safe }}

								</div>
								<div class="tab_item typography">
									{{ employer.publication|safe }}
								</div>
								<div class="tab_item typography">
                                    {{ employer.projects|safe}}
								</div>
							</div>
						</div>
					</main>
					<aside class="page__aside">
						<h2 class="title-h2">
							<svg>
								<use xlink:href="{% static 'images/sprites.svg' %}#news-paper"></use>
							</svg>Новости
						</h2>
                        {% show_news as newses %}
                        {% for news in newses %}
						<div class="news-item news-item--employee">
                            <a class="news-item__title" href="{{ news.get_absolute_url }}">
                                {{ news.title }}</a>
							<div class="news-item__date date-pub">
								 {{ news.published_date|date:"d M Y" }} }}</div>
						</div>
                        {% endfor %}

					</aside>
				</div>
			</div>
		</section>
{% endblock %}