{% load static i18n%}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="theme-color" content="#005757">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
		<link rel="icon" href="/favicon.ico">
		<link rel="icon" href="/favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" href="/android-chrome-192x192.png" sizes="192x192">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>{% block title %}{% endblock %}</title>
	</head>
	<body>
    <header class="header">
			<div class="header__top-wrapper">
				<div class="container">
					<div class="header__top">
						<div class="header__logo">
							<button class="btn-mobile-menu for-devices">
								<div class="btn-mobile-menu__open">
									<svg>
										<use xlink:href="{% static 'images/sprites.svg' %}#close"></use>
									</svg>
								</div>
								<div class="btn-mobile-menu__close">
									<svg>
										<use xlink:href="{% static 'images/sprites.svg' %}#menu"></use>
									</svg>
								</div>
							</button><a href="{% url 'blog:home' %}"><img src="{% static 'images/logo.jpg' %}" alt=""></a>
						</div>
						<div class="header__nav">
								{% include 'tags/nav_tags.html' %}
							<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
							<div class="lng for-devices lng--mobile">
{% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}

            <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
               lang="{{ language.code }}">
                <span  class="{% if language.code == LANGUAGE_CODE %}is-active{% endif %}">
                    {{ language.name_local|upper|slice:':3' }}</span>
            </a>

    {% endfor %}

                            </div>
</form>
						</div>
						<div class="header__wrap">
<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
<div class="header__lng lng">
{% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}

            <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
               lang="{{ language.code }}">
                <span  class="{% if language.code == LANGUAGE_CODE %}is-active{% endif %}">
                    {{ language.name_local|upper|slice:':3' }}</span>
            </a>

    {% endfor %}
</div>
</form>
							<div class="header__srch-btn"><a class="btn-search popup-with-form" href="#search">
									<svg>
										<use xlink:href="{% static 'images/sprites.svg' %}#search"></use>
									</svg></a></div>
						</div>
					</div>
				</div>
			</div>
		</header>


		{% block content %}{% endblock %}
		{% include '_inc/footer.html' %}
		<div class="is-hidden">
			<form class="search-form" id="search" action="">
				<input class="search-form__input" type="text" placeholder="Поиск ключевому слову">
				<button class="search-form__btn">
					<div class="for-desktop">Поиск</div>
					<div class="for-devices">
						<svg>
							<use xlink:href="{% static 'images/sprites.svg' %}#search"></use>
						</svg>
					</div>
				</button>
			</form>
		</div>
		<script>
			if (!('IntersectionObserver' in window)) {
				var script = document.createElement("script");
				script.src = "https://raw.githubusercontent.com/w3c/IntersectionObserver/master/polyfill/intersection-observer.js";
				document.getElementsByTagName('head')[0].appendChild(script);
			}
		</script>
		<script src="{% static 'js/vendor.js'%}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>